*, *:after, *:before {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: black;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: white;
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

/* Header */

.header {
  top: 20px;
  position: relative;
  background-color: inherit;
  border: 1px solid black;
  width: 100%;
  max-width: 900px;
  height: auto;
  max-height: 300px;
  margin: 30px auto 20px auto;
  padding: 10px 30px 15px 30px;
  background-color: rgb(162, 198, 221);
  color: black;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__chat-name {
  background-color: lightcoral;
  color: rgb(92, 5, 92);
  line-height: auto;
  font-size: 80px;
  text-transform: uppercase;
  border-radius: 7px;
}

.header__chat-name a {
  text-decoration: none;
}

.header-logout-btn {
  float: right;
  margin: 20px 0 -10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

.header-logout-btn:hover {
  background-color: violet;
}

.header-logout-btn + br {
  clear: both;
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 50px;
}

/* Online */

.online {
  margin-top: 20px;
  width: calc(900 * 0.25px);
  height: 70vh; 
  border: 1px solid black;
  background-color:rgb(162, 198, 221);
}

.online__counter {
  padding: 10px 20px;
}

.online__wrapper {
  text-align: center;
  margin: 0 auto;
  width: calc(900 * 0.22px);
  height: 60vh;
  background-color: lightgray;
  padding: 0 20px;
  border: 1px solid black;
}

.online__person {
  color: white;
}

.online__wrapper > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: block;
}

.online__person.active {
  color: rgb(223, 131, 25);
}

.chat {
  margin: 5px 0 0 0;
  width: calc(900 * 0.73px);
  height: 70vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.chat__tabs {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
}

.chat__tab-links {
  background-color: inherit;
  width: auto;
  max-width: 210px;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 7px;
  transition: 0.3s;
}

.chat__close {
  border: none;
  cursor: pointer;
}

.chat__close:hover {
  color:rgb(223, 131, 25);
}

.chat__tabs chat__tab-links:hover {
  background-color: #ddd;
}

.chat__tabs chat__tab-links.active {
  background-color: rgb(162, 198, 221);
}

.chat__tab_content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.chat__tab_content.visible {
  display: block;
}

.chat__message_name {
  text-decoration: underline;
}

.message {
  margin-top: auto;
  text-align: center;
}

.message textarea[name="message-textarea"]{
  border-radius: 10px;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 7px 15px;
}

.message__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message__info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 15px;
}

.message__buttons {
  display: flex;
  flex: 1 0 50%;
  justify-content: space-between;
}

.message__miscellaneous {
  margin: 10px 0 0 30px;
  display: flex;
  flex-direction: row;
}

.message__miscellaneous button{
  align-self: flex-start;
  cursor: pointer;
}

.message__send-message-button {
  align-self: flex-start;
  margin: 5px 20px 0 0;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.5s linear;
  padding: 10px 20px;
}

.message__send-message-button:hover {
  background-color: goldenrod;
  color: white;
}

/* Register, Login*/
.register-box, .login-box{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  color: white;
}

.box{
  border-radius: 20px;
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.login-not-registered, .register__already-registered {
  margin: 50px auto 0 auto;
  color: inherit;
  font-family: inherit;
}

.login-not-registered button, .register__already-registered button {
  background: none;
  display: block;
  margin: 20px auto 0 auto;
  text-align: center;
  border: 2px solid #2e56cc;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.login-not-registered button:hover, .register__already-registered button:hover {
  color: white;
  background-color: #2e56cc;
}
